<div class="content-menu-block content-menu-block--pages">
  <div class="wrap">
    <div class="content-menu">
      <span class="catalog-menu-close"></span>
      <div class="accordeon">
        <div class="accordeon-item">
          <div class="accordeon-wrap-link">
            <a href="#" class="accordeon-link">Babyliss Paris</a>
            <span class="accordeon-title"></span>
            <div class="accordeon-inner">
              <ul>
                <li><a href="#">ссылка</a></li>
                <li><a href="#">ссылка</a></li>
                <li><a href="#">ссылка</a></li>
                <li><a href="#">ссылка</a></li>
                <li><a href="#">ссылка</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="accordeon-item">
          <div class="accordeon-wrap-link">
            <a href="#" class="accordeon-link">Braun</a>
            <span class="accordeon-title"></span>
            <div class="accordeon-inner">
              <ul>
                <li><a href="#">ссылка</a></li>
                <li><a href="#">ссылка</a></li>
                <li><a href="#">ссылка</a></li>
                <li><a href="#">ссылка</a></li>
                <li><a href="#">ссылка</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="accordeon-item">
          <div class="accordeon-wrap-link">
            <a href="#" class="accordeon-link">Delonghi</a>
            <span class="accordeon-title"></span>
            <div class="accordeon-inner">
              <ul>
                <li><a href="#">Машинки/триммеры для стрижки волос</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="accordeon-item">
          <div class="accordeon-wrap-link">
            <a href="#" class="accordeon-link">Kenwood</a>
            <span class="accordeon-title"></span>
            <div class="accordeon-inner">
              <ul>
                <li><a href="#">ссылка</a></li>
                <li><a href="#">ссылка</a></li>
                <li><a href="#">ссылка</a></li>
                <li><a href="#">ссылка</a></li>
                <li><a href="#">ссылка</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="accordeon-item">
          <div class="accordeon-wrap-link">
            <a href="#" class="accordeon-link">Moser</a>
            <span class="accordeon-title"></span>
            <div class="accordeon-inner">
              <ul>
                <li><a href="#">ссылка</a></li>
                <li><a href="#">ссылка</a></li>
                <li><a href="#">ссылка</a></li>
                <li><a href="#">ссылка</a></li>
                <li><a href="#">ссылка</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="accordeon-item">
          <div class="accordeon-wrap-link">
            <a href="#" class="accordeon-link">Philips</a>
            <span class="accordeon-title"></span>
            <div class="accordeon-inner">
              <ul>
                <li><a href="#">ссылка</a></li>
                <li><a href="#">ссылка</a></li>
                <li><a href="#">ссылка</a></li>
                <li><a href="#">ссылка</a></li>
                <li><a href="#">ссылка</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="accordeon-item">
          <div class="accordeon-wrap-link">
            <a href="#" class="accordeon-link">Masahi Irica</a>
            <span class="accordeon-title"></span>
            <div class="accordeon-inner">
              <ul>
                <li><a href="#">ссылка</a></li>
                <li><a href="#">ссылка</a></li>
                <li><a href="#">ссылка</a></li>
                <li><a href="#">ссылка</a></li>
                <li><a href="#">ссылка</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="accordeon-item">
          <div class="accordeon-wrap-link">
            <a href="#" class="accordeon-link">solstick</a>
            <span class="accordeon-title"></span>
            <div class="accordeon-inner">
              <ul>
                <li><a href="#">ссылка</a></li>
                <li><a href="#">ссылка</a></li>
                <li><a href="#">ссылка</a></li>
                <li><a href="#">ссылка</a></li>
                <li><a href="#">ссылка</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="content-menu-items">
      <a class="content-menu-item shop" href="#">
        <strong class="title">Магазин</strong>
        <p class="text">Интернет-магазин для заказа запасных частей и аксеcсуаров к бытовой технике фирм Braun и Babyliss PARIS</p>
      </a>
      <a class="content-menu-item services" href="#">
        <strong class="title">Сервисное обслуживание</strong>
        <p class="text">Найти ближайший к Вам сервисный центр Braun или Babyliss PARIS</p>
      </a>
      <a class="content-menu-item reception-point" href="#">
        <strong class="title">Приемные пункты</strong>
        <p class="text">Наши приемные пункты в ремонт, а так же пункты продажи запасных частей и аксессуаров к бытовой технике фирм Braun и Babyliss PARIS</p>
      </a>
    </div>
  </div>
</div>
