// same as in _variables.scss
$purple: #6688cc;
$blue: #214385;

@mixin no-img-background {
  background: #e0e7f5 url('../images/ico/no-img.png')no-repeat center center;
}

@mixin card {
  border: 1px solid #e3e5f1;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);
}

@mixin aspect-ratio($width, $height) {
  position: relative;
  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }
  > .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

@mixin paragraph-like-font {
  // see `.paragraph`
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  @media only screen and (max-width: 767px) {
    font-size: 14px;
  }
}

// TODO
@mixin default-font {
  @include paragraph-like-font;
  font-weight: normal;
}

@mixin editable-children {
  // shouldn't intersect with mockup styles
  p {
    @content;
    margin-bottom: 24px;
    @media only screen and (max-width: 767px) {
      margin-bottom: 15px;
    }
  }
  a {
    color: $purple;
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }
}

@mixin form-elements {
  // .input like
  input:not([type=submit]):not([type=checkbox]), textarea {
    display: block;
    width: 100%;
    height: 40px;
    line-height: 38px;
    font-size: 16px;
    border: 1px solid #e3e9f4;
    background: #f2f3f7;
    color: #000;
    padding: 0 40px;
    margin-bottom: 20px;
    @media only screen and (max-width: 767px) {
      padding: 0 15px;
    }
    &::placeholder {
      color: $purple;
    }
    &:focus {
      border: 1px solid #d9a903;
      background: #FFF;
      font-family: inherit;
    }
    &:focus::placeholder {
      color: rgba(0, 0, 0, 0);
    }
  }
  // .download-btn like
  input[type=submit], button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid $purple;
    color: $purple;
    font-size: 16px;
    //height: 60px;
    padding: 1.6em 3.2em;
    text-align: center;
    cursor: pointer;
    user-select: none;
    background: none;
    @media only screen and (max-width: 1023px) {
      font-size: 14px;
    }
    &.active, &:hover {
      background: #fef8e4;
      border: 1px solid #d9a903;
      color: #000;
    }
  }
}


.editable-area {
  // used as a marker. don't put styles here.
}

.default-page {
  &.editable-area {
    @include editable-children;
    &, p {
      @include paragraph-like-font;

      // improve readability
      font-weight: normal;
      color: #333;

    }
    img {
      display: inline;
    }
  }
}

// dev

.TODO-mockup {
  position: relative;
  & > * {
    opacity: 0.5;
    filter: grayscale(100%);
  }
  &:before {
    content: 'макет';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    background: red;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    padding: 1rem;
    z-index: 1;
  }
  &:hover {
    &:before {
      display: none;
    }
    & > * {
      opacity: 1;
      filter: none;
    }
  }
}
