// same as in _variables.scss
$purple: #6688cc;

@mixin no-img-background {
  background: #e0e7f5 url('../images/ico/no-img.png')no-repeat center center;
}

@mixin aspect-ratio($width, $height) {
  position: relative;
  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }
  > .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

@mixin paragraph-like-font {
  // see `.paragraph`
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  @media only screen and (max-width: 767px) {
    font-size: 14px;
  }
}

@mixin editable-children {
  // shouldn't intersect with mockup styles
  p {
    @content;
    margin-bottom: 24px;
    @media only screen and (max-width: 767px) {
      margin-bottom: 15px;
    }
  }
  a {
    color: $purple;
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }
}

.editable-area {
  // used as a marker. only put styles in the modifiers below.

  &.editable-area--full {
    @include editable-children;
    &, p {
      @include paragraph-like-font;
    }
    img {
      display: inline;
    }
  }
}

// dev

.TODO-mockup {
  position: relative;
  & > * {
    opacity: 0.5;
    filter: grayscale(100%);
  }
  &:before {
    content: 'mockup';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    background: red;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    padding: 1rem;
    z-index: 1;
  }
  &:hover {
    &:before {
      display: none;
    }
    & > * {
      opacity: 1;
      filter: none;
    }
  }
}
