@import '_common.scss';

.editable-area {
  // used as a marker. don't put styles here.
}

.default-page {
  &.editable-area {
    @mixin font {
      @include paragraph-like-font;
      // TODO improve readability
    }
    @include font;
    @include editable-children {
      @include font;
    }
    img {
      display: inline;
    }
  }
}

.tab-pane {
  display: none;
  &.active {
    display: block;
  }
}

.image-uploads {
  display: flex;
  .image-uploads__item {
    background: #fff;
    max-width: 200px;
    flex: 1 1 200px;
    margin-right: 20px;
    margin-bottom: 20px;
    padding: 10px;
    .image-uploads__item-img {
      @include aspect-ratio(1, 1);
      margin-bottom: 20px;
      background: no-repeat center center;
      background-size: contain;
      &.has-text {
        background: transparent !important; // override inline style
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        line-height: 1.2;
      }
    }
  }
  @media only screen and (max-width: 425px) {
    flex-wrap: wrap;
    .image-uploads__item {
      width: 100%;
      max-width: 100%;
      margin-right: 0;
      .image-uploads__item-img {
        height: 100px;
        // hack
        &:not([style]) { // have no image
          display: none;
        }
        &:before { // hack: see aspect-radio mixin
          display: none;
        }
      }
    }
  }
}

// dev

.TODO-mockup {
  position: relative;
  & > * {
    opacity: 0.5;
    filter: grayscale(100%);
  }
  &:before {
    content: 'макет';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    background: red;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    padding: 1rem;
    z-index: 1;
  }
  &:hover {
    &:before {
      display: none;
    }
    & > * {
      opacity: 1;
      filter: none;
    }
  }
}
