@import '_common.scss';

$yellow: #ffc900;
$light-yellow: #faebc1;

.empty-state-page {
  text-align: center;
  @media only screen and (min-height: 600px) {
    margin: 100px 0;
  }
}

.text-nowrap {
  white-space: nowrap;
}

#global-loader {
  $width: 120px;
  display: none;
  position: fixed;
  top: 0;
  left: 50%;
  width: $width;
  margin-left: -($width / 2);
  z-index: 200;
  padding: 5px 0;
  background: $light-yellow;
  border: 1px solid #f2c174;
  border-top: none;
  color: rgba(#000, 0.8);
  text-align: center;
  font-size: 1rem;
  box-shadow: 0 4px 2px -2px rgba(#000, 0.4);
}

.content-menu-block {
  position: relative;
  background: #f5f6fa;
  .wrap {
    @media only screen and (max-width: 767px) {
      padding: 0;
    }
  }
}

.content-menu-block--pages {
  display: none;
  @media only screen and (max-width: 767px) {
    display: block;
  }
}

.content-menu {
  position: absolute;
  top: 0;
  left: 15px;
  width: 270px;
  min-height: 402px;
  padding-top: 50px;
  padding-left: 50px;
  z-index: 1;
  background: #fff;
  border-right: 1px solid $border;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .1);
  @media only screen and (max-width: 767px) {
    display: none;
    position: fixed;
    top: 60px;
    left: 0;
    width: 100%;
    height: calc(100vh - 60px);
    padding: 0;
    background: rgba(0, 0, 0, 0.8);
    overflow-y: auto;
    border: none;
    z-index: 11;
  }
  @media only screen and (min-width:768px) {
    display: block !important;
  }
}

.content-menu--pages {
  position: relative;
  top: auto;
  left: auto;
  min-height: inherit;
  padding-bottom: 10px;
  @media only screen and (max-width: 767px) {
    display: none;
    position: fixed;
    top: 60px;
    left: 0;
    width: 100%;
    height: calc(100vh - 60px);
    padding: 0;
    background: rgba(0, 0, 0, 0.8);
    overflow-y: auto;
    border: none;
    z-index: 11;
  }
}

.accordeon {
  background: #FFF;
  @media only screen and (max-width: 767px) {
    min-height: 100%;
    margin-right: 60px;
    padding-top: 20px;
    padding-bottom: 50px;
    padding-left: 30px;
  }
}

.content-menu-items {
  position: relative;
  display: flex; //justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  width: calc(100% - 270px);
  margin-left: 270px;
  z-index: 1;
  @media only screen and (max-width: 767px) {
    width: 100%;
    margin-left: 0;
  }
}

.content-menu-item {
  display: flex;
  align-content: space-between;
  flex-wrap: wrap;
  width: 33.333333%;
  height: 402px;
  color: #FFF;
  padding: 50px;
  @media only screen and (max-width: 1150px) {
    padding: 25px;
  }
  @media only screen and (max-width:1023px) {
    width: 100%;
    height: 134px;
    align-items: center;
  }
  @media only screen and (max-width:767px) {
    padding: 0;
    height: 80px;
  }
  &.shop {
    background: url('../images/pic/pic-1.jpg')no-repeat center center/cover;
    .title,
    .text {
      text-shadow: none;
      color: $blue;
    }
  }
  &.services {
    background: url('../images/pic/pic-2.jpg')no-repeat center center/cover;
  }
  &.reception-point {
    background: url('../images/pic/pic-3.jpg')no-repeat center center/cover;
  }
  .title {
    max-width: 175px;
    font-size: 24px;
    line-height: 1.4;
    font-weight: 700;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
    @media only screen and (max-width: 1023px) {
      display: block;
      min-width: 100%;
      text-align: center;
    }
  }
  .text {
    width: 100%;
    font-size: 16px;
    line-height: 30px;
    @media only screen and (max-width: 1150px) {
      line-height: 1.4;
    }
    @media only screen and (max-width:1023px) {
      display: none;
    }
  }
}

.accordeon-item {
  border-bottom: 1px solid $border;
  margin-bottom: 10px;
}

.accordeon-wrap-link {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  @media only screen and (max-width: 767px) {
    min-height: 40px;
  }
}

.accordeon-link {
  font-size: 16px;
  color: $blue;
  text-transform: uppercase;
}

.accordeon-title {
  width: 40px;
  height: 30px;
  padding-left: 10px;
  cursor: pointer;
  user-select: none;
  background: url('../images/ico/plus.png')no-repeat 10px 4px;
  &.active {
    background: url('../images/ico/minus.png')no-repeat 10px 6px;
  }
}

.accordeon-inner {
  display: none;
  width: 100%;
  padding-bottom: 10px;
  li {
    margin-bottom: 15px;
    padding-right: 40px;
  }
  a {
    font-size: 16px;
    color: $purple;
    &:hover {
      color: $red;
    }
  }
}

.catalog-menu-close {
  position: fixed;
  top: 60px;
  right: 0;
  width: 60px;
  height: 60px;
  cursor: pointer;
  background: #fff url('../images/ico/close.png')no-repeat center center;
  @media only screen and (min-width: 768px) {
    display: none;
  }
}

.wrap-labels-slider{
  .slide {
    opacity: 0.15;
    transition: 0.3s;
    &:hover {
      opacity: 1;
    }
  }
}

.wrap-labels-slider,
.wrap-shops-slider {
  background: #f5f6fa;
  .slide {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    margin: 0 10px;
    @media only screen and (max-width: 767px) {
      height: 80px;
    }
  }
  img {
    max-width: 100%;
  }
}

.wrap-shops-slider {
  background: #FFF;
  .slide {
    height: 80px;
  }
}

.items-slider,
.shops-slider {
  .slick-track {
    padding-bottom: 5px;
  }
  .item-box {
    margin: 0 10px;
    @media only screen and (max-width: 767px) {
      margin: 0;
      border: 1px solid $border;
    }
  }
}

.about {
  .paragraph {
    margin-bottom: 0;
    @media only screen and (max-width: 767px) {
      height: 185px;
      overflow: hidden;
    }
    &.editable-area {
      @include editable-children {
        @include paragraph-like-font;
      }
    }
  }
}

.useful-block {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  .left {
    width: 55%;
    @media only screen and (max-width: 767px) {
      width: 100%;
      margin-bottom: 30px;
    }
  }
  .right {
    width: 45%;
    padding-left: 70px;
    @media only screen and (max-width: 1199px) {
      padding-left: 35px;
    }
    @media only screen and (max-width:767px) {
      width: 100%;
      padding-left: 0;
    }
  }
  .dots {
    position: absolute;
    top: 30px;
    right: 0;
    width: auto;
    display: block;
    @media only screen and (max-width: 767px) {
      top: 0;
    }
  }
  .video-item {
    iframe {
      height: 300px !important;
      margin-bottom: 15px;
      @media only screen and (max-width: 1023px) {
        height: 200px !important;
      }
    }
    .btn {
      margin-top: 60px;
      max-width: 100%;
      @media only screen and (max-width: 767px) {
        margin-top: 30px;
      }
    }
  }
}

.wrap-useful-slider {
  position: relative;
  .useful-slider {}
  .slide {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  .img {
    width: 50%;
  }
  img {
    width: 100%;
  }
  .info {
    position: relative;
    z-index: 1;
    width: 70%;
    background: #f5f6fa;
    padding: 60px 45px;
    margin-left: -30%;
    margin-top: 80px;
    @media only screen and (max-width: 1023px) {
      width: 90%;
      margin-left: -50%;
      padding: 30px;
    }
    @media only screen and (max-width:767px) {
      padding: 15px;
    }
  }
  .title {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.2;
    margin-bottom: 40px;
  }
}

.useful-item {
  margin-bottom: 25px;
  &:last-child {
    margin-bottom: 0;
  }
  .title {
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 15px;
  }
  .paragraph {
    margin-bottom: 0;
    &.editable-area {
      @include editable-children {
        @include paragraph-like-font;
      }
    }
  }
}

.contacts {
  margin-bottom: 60px;
  @media only screen and (max-width: 767px) {
    margin-bottom: 30px;
  }
}

.contacts-item {
  @media only screen and (max-width: 767px) {
    margin-bottom: 35px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.contacts-map {
  iframe {
    display: block;
    width: 100% !important;
    height: 200px;
    margin-bottom: 15px;
  }
}

.contacts-name {
  font-size: 18px;
  line-height: 1.2;
  font-weight: 700;
  margin-bottom: 25px;
  @media only screen and (max-width: 1023px) {
    min-height: 50px;
    margin-bottom: 0;
  }
  @media only screen and (max-width:767px) {
    min-height: inherit;
    margin-bottom: 25px;
  }
}

.contacts-description {
  color: $red;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  @media only screen and (max-width: 1023px) {
    min-height: 180px;
  }
  @media only screen and (max-width:767px) {
    min-height: inherit;
  }
}

.contacts-station {
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
}

.contacts-text {
  font-size: 16px;
  line-height: 24px;
}

.contacts-info {
  min-height: 300px;
  @media only screen and (max-width: 767px) {
    min-height: inherit;
  }
}

.contacts-bottom {
  margin-top: 15px;
  .col-2 {
    @media only screen and (max-width: 1023px) {
      width: calc(100% - 30px);
      margin-bottom: 15px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.service-centers {
  margin-bottom: 60px;
  @media only screen and (max-width: 767px) {
    margin-bottom: 30px;
  }
  .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px;
    background: $bg;
  }
  .text {
    width: calc(100% - 340px);
    padding-right: 15px;
    font-size: 24px;
    font-weight: 700;
    color: $blue;
    @media only screen and (max-width: 767px) {
      width: 100%;
      font-size: 20px;
      margin-bottom: 15px;
      padding-right: 0;
    }
  }
  .btn {
    width: 340px;
    @media only screen and (max-width: 767px) {
      width: 280px;
      margin: 0 auto;
    }
  }
}

.questions-remained {
  .text {
    min-height: 85px;
    font-size: 16px;
    line-height: 24px;
    max-width: 340px;
    @media only screen and (max-width: 767px) {
      min-height: inherit;
      margin-bottom: 15px;
    }
  }
  .col-2 {
    @media only screen and (max-width: 767px) {
      &:last-child {
        margin-top: 35px;
      }
    }
  }
}

.rsc-allert {
  max-width: 640px;
  margin: 0 auto 40px;
  font-size: 16px;
  line-height: 24px;
}

.rsc-item {
  padding: 50px 20px 20px;
  background: $bg;
  margin-bottom: 20px;
  text-align: center;
  font-size: 16px;
  @media only screen and (max-width: 1023px) {
    padding: 30px 10px 10px;
  }
  .title {
    color: $blue;
    font-weight: 700;
    margin-bottom: 10px;
  }
  .text {
    line-height: 24px;
    padding: 20px;
    border-bottom: 1px solid $border;
    &:last-child {
      border: none;
    }
  }
}

.rsc-inner {
  margin-top: 40px;
  @media only screen and (max-width: 767px) {
    margin-top: 20px;
  }
  .contacts-info {
    min-height: inherit;
  }
  .contacts-name {
    margin-bottom: 5px;
  }
}

.news--pages {
  margin-bottom: 30px;
  .grid {
    .col-2 {
      margin-bottom: 30px;
      &:nth-child(1) {
        width: calc(100% - 30px);
      }
    }
  }
}

.first-new {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  .img {
    width: 40%;
    @media only screen and (max-width: 767px) {
      width: 100%;
      margin-bottom: 20px;
    }
    img {
      width: 100%;
    }
  }
  .info {
    width: 60%;
    padding-top: 20px;
    padding-left: 20px;
    font-size: 16px;
    @media only screen and (max-width: 767px) {
      width: 100%;
      padding: 0;
    }
  }
  .title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
    color: #333;
  }
  .text {
    line-height: 24px;
    margin-bottom: 20px;
    color: #666;
  }
}

.safety-title {
  position: relative;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 80px;
  margin-bottom: 40px;
  font-size: 16px;
  @media only screen and (max-width: 767px) {
    margin-top: 50px;
    margin-bottom: 25px;
  }
  .date {
    min-width: 120px;
    color: $red;
    @media only screen and (max-width: 767px) {
      min-width: 100%;
      margin-bottom: 15px;
    }
  }
  .title {
    font-size: 30px;
    font-weight: 700;
    color: $blue;
  }
  .back {
    position: absolute;
    right: -85px;
    top: 50%;
    margin-top: -30px;
    width: 85px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    color: $purple;
    border: 1px solid $purple;
    @media only screen and (max-width: 1150px) {
      display: none;
    }
  }
}

.safety-item {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-bottom: 40px;
  .img {
    width: 60%;
    @media only screen and (max-width: 767px) {
      width: 50%;
    }
    @media only screen and (max-width:599px) {
      width: 100%;
      margin-bottom: 15px;
    }
  }
  img {
    width: 100%;
  }
  .text {
    width: 40%;
    padding-left: 25px;
    padding-top: 40px;
    @media only screen and (max-width: 767px) {
      width: 50%;
      padding-top: 20px;
      padding-left: 20px;
    }
    @media only screen and (max-width:599px) {
      width: 100%;
    }
  }
  p {
    padding: 15px 30px 0;
    border-top: 1px solid $border;
    font-style: italic;
    color: $purple;
    font-size: 14px;
    line-height: 1.2;
    @media only screen and (max-width: 767px) {
      padding: 15px;
    }
  }
}

.safety-allert {
  padding: 35px 15px;
  background: #fff9e5;
  color: #000;
  li {
    max-width: 570px;
    line-height: 24px;
    margin: 0 auto 15px;
    font-size: 16px;
    @media only screen and (max-width: 767px) {
      font-size: 14px;
      line-height: 1.2;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.catalog-about {
  // see .section-title
  margin-top: 80px;
  @media only screen and (max-width: 767px) {
    margin-top: 40px;
  }
  h1, .h1,
  h2, .h2 {
    // kind of like .section-title headings, but not quite.
    // further aligned with js.
    padding-left: 220px;
    @media only screen and (max-width: 1023px) {
      padding-left: 0;
    }
  }
  .editable-area {
    @include paragraph-like-font;
    @include editable-children {
      @include paragraph-like-font;
    }
  }
}

.catalog-pages {
  padding-bottom: 50px;
  .wrap {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
}

.catalog-pages-block {
  width: calc(100% - 300px);
  @media only screen and (max-width: 1023px) {
    width: calc(100% - 270px);
  }
  @media only screen and (max-width: 767px) {
    width: 100%;
  }
  &.catalog-pages-block--index {
    padding-top: 30px;
  }
  .col-3 {
    margin-bottom: 30px;
    @media only screen and (max-width: 1023px) {
      width: calc(50% - 30px);
      margin-bottom: 30px;
    }
    @media only screen and (max-width:413px) {
      width: calc(100% - 30px);
    }
  }
}

.catalog-pages-block-white {
  background: #FFF;
  @media only screen and (max-width: 767px) {
    position: relative;
    left: -15px;
    width: calc(100% + 30px);
    padding: 0 15px;
  }
}

.catalo-items-grid {
  margin-left: 25px;
  @media only screen and (max-width: 1023px) {
    margin-left: 5px;
  }
  @media only screen and (max-width:767px) {
    margin-left: -15px;
  }
  .col-3 {
    @media only screen and (max-width: 599px) {
      width: calc(100% - 30px);
    }
  }
}

.sort-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-left: 40px;
  @media only screen and (max-width: 1023px) {
    padding-left: 20px;
  }
  @media only screen and (max-width:767px) {
    padding-left: 0;
  }
  .text {
    font-size: 16px;
    color: #000;
    padding-right: 15px;
    @media only screen and (max-width: 413px) {
      width: 100%;
      margin-bottom: 10px;
    }
  }
  .left,
  .right {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
    .fs-dropdown-selected {
      text-align: left;
    }
  }
  .left {
    .fs-dropdown {
      width: 240px;
    }
  }
  .right {
    .fs-dropdown {
      width: 80px;
    }
  }
}

.ctalog-inner {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 0 40px 40px;
  @media only screen and (max-width: 1023px) {
    padding: 0 20px 40px;
  }
  @media only screen and (max-width:767px) {
    padding: 0 0 40px;
  }
  .grid {
    width: 100%; // quick fix for the brand page
  }
  .no-img-placeholder {
    @include aspect-ratio($width: 4, $height: 3);
    width: 100%;
    .content {
      @include no-img-background;
    }
  }
}

.wrap-slider-item {
  width: 250px;
  @media only screen and (max-width: 1023px) {
    width: 100%;
    margin-bottom: 25px;
  }
}

.catalog-item-info {
  width: calc(100% - 250px);
  padding-left: 80px;
  @media only screen and (max-width: 1199px) {
    padding-left: 25px;
  }
  @media only screen and (max-width: 1023px) {
    width: 100%;
    padding-left: 0;
  }
}

.catalog-item-stock {
  color: $green;
  margin-bottom: 18px;
  &.catalog-item-stock--out {
    color: $red;
  }
}

.wrap-catalog-hidden-block {
  @media only screen and (max-width: 767px) {
    position: relative;
    width: calc(100% + 30px);
    left: -15px;
    padding: 20px 0;
    border-top: 1px solid $border;
    border-bottom: 1px solid $border;
    margin-bottom: 25px;
  }
}

.open-catalog-hidden-block {
  position: relative;
  cursor: pointer;
  user-select: none;
  padding: 0 15px;
  font-size: 16px;
  color: #000;
  @media only screen and (min-width: 768px) {
    display: none;
  }
  &.open {
    margin-bottom: 25px;
    &:before {
      transform: rotate(180deg);
    }
  }
  &:before {
    display: block;
    position: absolute;
    content: '';
    width: 12px;
    height: 8px;
    top: 50%;
    margin-top: -4px;
    right: 15px;
    background: url('../images/ico/arrow-select.png')no-repeat center center;
  }
}

.catalog-hidden-block {
  @media only screen and (max-width: 767px) {
    display: none; // toggle
    padding: 0 15px;
  }
  .field {
    margin-bottom: 15px;
    color: #666; // #999 is too hard to see
    font-size: 0;
    @mixin font {
      font-size: 14px;
      line-height: 1.2;
    }
    .label, .value {
      @include font;
      display: inline-block;
      vertical-align: top;
    }
    .label {
      width: 100px;
      color: #333;
    }
    .value {
      width: calc(100% - 100px);
      &.editable-area {
        @include editable-children {
          @include font;
        }
      }
    }
  }
}

.check-out {
  color: $red;
  margin-bottom: 30px;
  @media only screen and (max-width: 767px) {
    max-width: 215px;
    text-align: center;
    font-size: 16px;
    margin: 0 auto 25px;
  }
}

.catalog-item-doc {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-bottom: 30px;
  margin-bottom: 10px;
  border-bottom: 1px solid $border;
  a {
    max-width: 150px;
    font-size: 16px;
    line-height: 1.2;
    color: $blue;
    text-decoration: underline;
    padding-left: 34px;
    @media only screen and (max-width: 767px) {
      font-size: 14px;
    }
    &:hover {
      text-decoration: none;
    }
  }
  .table-link {
    background: url('../images/ico/doc-1.png')no-repeat left center;
  }
  .type-link {
    background: url('../images/ico/doc-2.png')no-repeat left center;
  }
}

.catalog-item-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  @media only screen and (max-width: 767px) {
    margin-top: 25px;
  }
  .price {
    font-size: 24px;
    margin-top: 20px;
    @media only screen and (max-width: 767px) {
      width: 50%;
      margin-top: 0;
      margin-bottom: 10px;
    }
  }
  .price-text {
    color: $red;
    span {
      font-weight: 700;
      margin-right: 5px;
    }
  }
  .catalog-item-stock {
    width: 50%;
    margin: 0;
    text-align: right;
    margin-bottom: 10px;
    @media only screen and (min-width: 768px) {
      display: none;
    }
  }
  .separator {
    color: #000;
    margin: 0 15px;
  }
  input {
    width: 42px;
    height: 42px;
    line-height: 40px;
    font-size: 24px;
    text-align: center;
    font-weight: 300;
    border: 1px solid #e3e5f1;
    background: #f2f3f7;
  }
  .catalog-cart-btn {
    display: inline-block;
    vertical-align: top;
    max-width: 200px;
    width: 100%;
    height: 60px;
    line-height: 58px;
    text-align: center;
    color: #000;
    border: 1px solid #d9a903;
    background: $yellow;
    cursor: pointer;
    user-select: none;
    margin-top: 20px;
    @media only screen and (max-width: 767px) {
      max-width: 100%;
    }
    span {
      display: inline-block;
      vertical-align: middle;
      font-size: 18px;
      height: 24px;
      line-height: 24px;
      padding-left: 45px;
      background: url('../images/ico/cart-cataloge.png')no-repeat left center;
    }
  }
  &.catalog-item-price--old-price {
    .price-text {
      color: $gray;
      text-decoration: line-through;
      span {
        font-weight: normal;
      }
    }
  }
}

.wrap-slider-item {
  .dots {
    @media only screen and (min-width: 768px) {
      display: none;
    }
  }
}

.slider-item-main {
  .slide {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 260px;
    @media only screen and (max-width: 767px) {
      height: 200px;
    }
  }
  img {
    max-width: 100%;
  }
}

.slider-item-thumbs {
  margin: 0 -6px;
  .slide {
    width: 64px;
    height: 64px;
    line-height: 64px;
    opacity: .6;
    margin: 0 12px;
    cursor: pointer;
    user-select: none;
    img {
      display: inline-block;
      vertical-align: middle;
      width: 100%;
    }
  }
  .slick-current {
    position: relative;
    opacity: 1;
    &:before {
      display: block;
      position: absolute;
      content: '';
      width: 100%;
      height: 100%;
      top: 0px;
      left: 0px;
      border: 1px solid $red;
    }
  }
}

.tabs-inner-sort {
  max-width: 574px;
  margin: 0 auto;
  margin-bottom: 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 16px;
  color: #000;
  .fs-dropdown {
    width: 240px;
    margin-left: 20px;
  }
  .fs-dropdown-selected {
    text-align: left;
  }
}

.tabs-inner {
  max-width: 574px;
  margin: 0 auto;
  padding: 45px;
  background: #FFF;
  @media only screen and (max-width: 767px) {
    padding: 15px;
  }
  .line {
    font-size: 16px;
    line-height: 1.2;
    margin-bottom: 15px;
    color: #000;
  }
  .wrap-checkbox {
    margin: 50px 0;
  }
}

.stock-balance {
  .text {
    @mixin font {
      font-size: 15px;
      line-height: 30px;
    }
    @include font;
    text-align: center;
    color: #000;
    margin-bottom: 20px;
    span {
      display: block;
      text-align: center;
      margin: 10px 0;
    }
    a {
      color: $purple;
    }
    &.editable-area {
      @include editable-children {
        @include font;
      }
    }
  }
}

.helpful-information {
  font-size: 16px;
  .item {
    display: block;
    padding-bottom: 20px;
    margin-bottom: 30px;
    border-bottom: 1px solid $border;
  }
  .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  .date {
    color: $red;
  }
  .brand {
    position: relative;
    z-index: 1;
    color: $purple;
    &:hover {
      text-decoration: underline;
    }
  }
  .text {
    a {
      font-size: 18px;
      line-height: 1.2;
      font-weight: 700;
      color: #333;
    }
  }
}

.required-documents {
  .wrap-documents {
    margin-top: 60px;
  }
  .item {
    position: relative;
    padding-bottom: 20px;
    border-bottom: 1px solid $border;
    margin-bottom: 20px;
    font-size: 16px;
    .item-link {
      min-height: 60px;
      display: inline-block;
      vertical-align: top;
      padding-left: 55px;
      padding-top: 5px;
      background: url('../images/ico/file.png')no-repeat left top;
      &.pdf {
        background: url('../images/ico/pdf-2.png')no-repeat left top
      }
      &.doc {
        background: url('../images/ico/doc.png')no-repeat left top
      }
      &.xls {
        background: url('../images/ico/xls.png')no-repeat left top
      }
      &.rar {
        background: url('../images/ico/rar.png')no-repeat left top
      }
      &.zip {
        background: url('../images/ico/zip.png')no-repeat left top
      }
    }
    .size {
      color: #999;
    }
    .name {
      margin-top: 10px;
      display: block;
      color: #333;
      line-height: 1.2;
    }
    .brand {
      position: absolute;
      top: 5px;
      right: 0;
      color: $purple;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.my-orders {
  max-width: 1170px;
  .col-2 {
    /*@media only screen and (max-width:1023px) {
      width: calc(100% - 30px);
      margin-bottom: 30px;
      &:last-child{
        margin-bottom: 0;
      }
    }*/
  }
  .title {
    font-size: 18px;
    color: #000;
    padding-left: 45px;
    font-weight: 700;
    margin-bottom: 35px;
  }
  .my-orders-item {
    padding: 15px 45px;
    font-size: 16px;
    background: #FFF;
    margin-bottom: 20px;
    @media only screen and (max-width: 1023px) {
      padding: 15px;
      font-size: 14px;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
  .top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: 12px;
    border-bottom: 1px solid $border;
    margin-bottom: 12px;
  }
  .top-name {
    width: calc(100% - 80px);
    color: $green;
    line-height: 1.2;
  }
  .find {
    width: 80px;
    color: $purple;
    line-height: 1.2;
    text-align: right;
    cursor: pointer;
    user-select: none;
  }
  .name-info {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 12px;
    color: #000;
    .name {
      width: calc(100% - 110px);
      font-weight: 700;
    }
    .price {
      width: 110px;
      text-align: right;
    }
  }
  .hidden-info {
    display: none;
    table {
      color: #999;
      @media only screen and (max-width: 767px) {
        font-size: 12px;
      }
    }
    tr {
      border-bottom: 1px solid $border;
      &:last-child {
        border: none;
      }
    }
    td {
      padding: 25px 0;
      @media only screen and (max-width: 1023px) {
        padding: 15px 0;
      }
      &:nth-child(1) {
        width: 20px;
        @media only screen and (max-width: 1023px) {
          width: 15px;
        }
      }
      &:nth-child(2) {
        width: calc(100% - 220px);
        padding-right: 10px;
        line-height: 1.2;
        @media only screen and (max-width: 1023px) {
          width: calc(100% - 155px);
          padding-right: 5px;
        }
      }
      &:nth-child(3),
      &:nth-child(4) {
        width: 100px;
        text-align: right;
        @media only screen and (max-width: 1023px) {
          width: 70px;
        }
      }
      &:nth-child(3) {
        text-align: center;
      }
    }
  }
  .yellow-btn {
    margin-top: 20px;
  }
  .more-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid $border;
    .more-info-block {
      width: 50%;
      &:last-child {
        text-align: right;
      }
    }
    .delete {
      color: $red;
      cursor: pointer;
      user-select: none;
      padding-right: 25px;
      background: url('../images/ico/close-3.png')no-repeat right center;
    }
    .more {
      position: relative;
      color: $purple;
      cursor: pointer;
      padding-right: 20px;
      &:before {
        display: block;
        position: absolute;
        content: '';
        width: 12px;
        height: 8px;
        top: 50%;
        margin-top: -4px;
        right: 0;
        background: url('../images/ico/read-more.png')no-repeat center center;
      }
      &.open {
        &:before {
          transform: rotate(180deg);
        }
      }
      user-select: none;
    }
  }
  .disabled {
    .name-info,
    .top-name {
      color: #999;
    }
  }
}

@mixin modal-like {
  .block {
    width: 570px;
    padding: 50px 100px;
    background: #FFF;
    margin-bottom: 15px;
    @media only screen and (max-width: 767px) {
      padding: 25px;
    }
    @media only screen and (max-width:600px) {
      width: calc(100% - 30px);
      left: 15px;
      margin-left: 0;
      top: 15px;
    }
  }
  .close {
    position: absolute;
    cursor: pointer;
    top: 10px;
    right: 10px;
  }
  .title {
    font-size: 18px;
    color: #000;
    font-weight: 700;
    text-align: center;
    margin-bottom: 50px;
    @media only screen and (max-width: 767px) {
      margin-bottom: 25px;
    }
  }
  .wrap-checkbox {
    margin: 35px 0;
  }
  .download-btn {
    display: block;
    width: 100%;
    margin-bottom: 20px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  .modal-text {
    margin: 35px 10px;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    color: #000;
    @media only screen and (max-width: 767px) {
      margin: 15px 10px;
    }
  }
  .captcha {
    margin-bottom: 20px;
  }
  .modal-tab-links {
    display: flex;
    margin-bottom: 40px;
  }
  [data-tabLinks], .tab-link {
    padding: 0;
    margin: 0;
    text-align: center;
    min-width: initial;
    width: 50%;
    border: none;
    border-bottom: 1px solid $purple;
    background: #FFF;
    @media only screen and (max-width: 767px) {
      font-size: 12px;
    }
    &.active {
      border: 1px solid $purple;
      border-bottom: 1px solid #fff;
    }
  }
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  z-index: 101;
  overflow-y: auto;
  .block {
    position: relative;
    top: 60px;
    left: 50%;
    margin-left: -285px;
  }
  // order matters
  @include modal-like;
}

.modal-like {
  @include modal-like;
  .block {
    //@include card;
    margin: 0 auto;
  }
}

.form {
  .form__title {
    font-size: 18px;
    color: #000;
    font-weight: 700;
    text-align: center;
    margin-bottom: 50px;
    @media only screen and (max-width: 767px) {
      margin-bottom: 25px;
    }
  }
  .form__message {
    font-size: 14px;
    line-height: 1.3;
    padding: 20px;
    margin-bottom: 30px;
    background: #fef8e4;
    color: #000;
    &.form__message--error {
      color: rgba(darken(red, 20%), 0.8);
      background: lighten(red, 46%);
    }
    &.form__message--success {
      color: rgba(darken($green, 20%), 0.8);
      background: desaturate(lighten($green, 63%), 40%);
    }
  }
}

.validate {
  input:not(:focus).error {
    border: 1px solid $error-red;
  }
  label.error {
    display: block;
    margin-bottom: 20px;
    line-height: 1.2;
    color: $error-red;
  }
}

.reviews {
  .col-2 {
    @media only screen and (max-width: 767px) {
      margin-bottom: 40px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.wrap-reviews-item {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid $border;
}

.reviews-item {
  padding: 20px 40px;
  background: #fff9e5;
  margin-bottom: 20px;
  @media only screen and (max-width: 1023px) {
    padding: 25px;
  }
  &:last-child {
    margin-bottom: 0;
  }
  .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  .date {
    color: $red;
  }
  .number {
    font-weight: 700;
  }
  .name {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 20px;
  }
  .paragraph {
    height: 145px;
    overflow: hidden;
    color: #666;
    margin-bottom: 5px;
    &.open {
      height: auto;
      overflow: auto;
    }
  }
  .link {
    text-align: right;
  }
  .reviews-item-link {
    color: $purple;
    cursor: pointer;
    user-select: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

.Leave-feedback {
  padding: 50px 45px;
  background: #f5f6fa;
  @media only screen and (max-width: 1023px) {
    padding: 25px;
  }
  @media only screen and (max-width:767px) {
    padding: 25px 15px;
  }
  .captcha {
    margin-bottom: 50px;
    img {
      max-width: 100%;
    }
  }
  .input,
  textarea {
    background: #FFF;
  }
  .wrap-checkbox {
    margin: 50px 0;
  }
  .download-btn {
    display: block;
    width: 100%;
  }
}

.reviews-allert {
  max-width: 310px;
  color: $red;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  margin: 50px 0 15px;
}


.wrap-cart-table {
  position: relative;
  margin-bottom: 30px;
  @media only screen and (max-width: 1023px) {
    overflow-x: auto;
  }
}

.cart-table {
  @media only screen and (max-width: 1023px) {
    width: 1024px;
  }
  .td {
    &:nth-child(1) {
      width: 50px;
      text-align: center;
    }
    &:nth-child(2) {
      width: 190px;
    }
    &:nth-child(3) {
      width: calc(84% - 550px);
      padding-left: 15px;
      padding-right: 15px;
    }
    &:nth-child(4) {
      width: 16%;
    }
    &:nth-child(5) {
      width: 110px;
    }
    &:nth-child(6) {
      width: 110px;
    }
    &:nth-child(7) {
      width: 90px;
    }
  }
  .thead {
    color: #000;
    margin-bottom: 30px;
    .tr {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
  .tbody {
    background: #FFF;
    .tr {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      padding: 25px 0;
      border-bottom: 1px solid $border;
      &:last-child {
        border-bottom: none;
      }
      @media only screen and (max-width:1023px) {
        padding: 10px 0;
      }
    }
    .td {
      &:nth-child(1) {
        font-size: 14px;
        color: #000;
      }
      &:nth-child(7) {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
  .img {
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 100%;
    }
    .no-img-placeholder {
      @include aspect-ratio($width: 4, $height: 3);
      width: 100%;
      .content {
        @include no-img-background;
      }
    }
  }
  .delete {
    width: 12px;
    height: 12px;
    background: url('../images/ico/close-3.png')no-repeat center center;
    cursor: pointer;
    user-select: none;
  }
  .good-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 200px;
    margin-bottom: 15px;
    .articul {
      color: #999;
    }
    .label {
      color: #d9a903;
    }
  }
  .name {
    display: block;
    max-width: 270px;
    font-size: 18px;
    line-height: 1.2;
    font-weight: 700;
    color: $blue;
  }
  .price,
  .price-total {
    color: $red;
    span {
      font-weight: 700;
      margin-right: 5px;
    }
  }
}

.finger {
  display: block;
  position: absolute;
  content: '';
  width: 48px;
  height: 58px;
  top: 85px;
  left: 50%;
  margin-left: -24px;
  z-index: 999;
  background: url('../images/ico/finger.png')no-repeat center center;
  animation: swipe 2s ease-in-out infinite;
  @media only screen and (min-width: 1024px) {
    display: none;
  }
}

@keyframes swipe {
  0% {
    left: 85%
  }
  80% {
    left: 80%
  }
  100% {
    left: 85%
  }
}

.cart-table-total {
  max-width: 80%;
  margin: 0 auto;
  @media only screen and (max-width: 767px) {
    max-width: 100%;
  }
  .top {
    font-size: 18px;
    text-align: right;
    margin-bottom: 30px;
    .price {
      color: $red;
      font-size: 24px;
      font-weight: 700;
      margin-left: 10px;
      span {
        margin-left: 5px;
        font-weight: normal;
      }
    }
  }
  .bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    .text {
      @mixin font {
        font-size: 18px;
        line-height: 1.2;
      }
      @include font;
      color: $red;
      width: calc(100% - 270px);
      padding-right: 15px;
      margin-top: 20px;
      @media only screen and (max-width: 767px) {
        width: 100%;
        text-align: center;
      }
      &.editable-area {
        @include editable-children {
          @include font;
        }
      }
    }
    .yellow-btn {
      width: 270px;
      margin: 0;
      margin-top: 20px;
      @media only screen and (max-width: 767px) {
        margin: 20px auto 0;
      }
    }
  }
  .new-line {
    @media only screen and (max-width: 767px) {
      display: block;
      margin-top: 15px;
    }
  }
}

.product-registration-inner {
  .wrap {
    display: flex;
    justify-content: space-between; //align-items: flex-start;
    flex-wrap: wrap;
  }
  .price {
    color: $red;
    font-size: 16px;
    font-weight: 700;
    span {
      font-weight: 400;
    }
  }
}

.wrap-sticky,
.product-registration-info {
  position: relative;
  width: 570px;
}

.wrap-sticky {
  @media only screen and (max-width: 1190px) {
    width: 400px;
  }
  @media only screen and (max-width: 1023px) {
    width: 300px;
  }
  @media only screen and (max-width:767px) {
    display: none;
  }
}

.product-registration-info {
  @media only screen and (max-width: 1199px) {
    width: calc(100% - 415px);
  }
  @media only screen and (max-width: 1023px) {
    width: calc(100% - 315px);
  }
  @media only screen and (max-width:767px) {
    width: 100%;
  }
}

.product-registration-sticky {
  &.sticky {
    position: fixed;
    top: 0;
    width: 570px;
    left: 50%;
    margin-left: -585px;
    @media only screen and (max-width: 1199px) {
      width: 400px;
      left: 15px;
      margin-left: inherit;
    }
    @media only screen and (max-width: 1023px) {
      width: 300px;
      left: 15px;
      margin-left: inherit;
    }
    @media only screen and (max-width:767px) {
      position: relative !important;
      width: 100% !important;
      left: auto !important;
      margin-left: auto !important;
    }
  }
  &.sticky-1 {
    position: absolute;
    top: auto;
    left: auto;
    margin-left: auto;
    bottom: 0;
  }
  table {
    font-size: 16px;
    color: #999;
    @media only screen and (max-width: 1023px) {
      font-size: 12px;
    }
    tr {
      border-bottom: 1px solid $border;
    }
    td {
      padding: 22px 0;
      &:nth-child(1) {
        width: 30px;
        @media only screen and (max-width: 1023px) {
          width: 20px;
        }
      }
      &:nth-child(2) {
        width: calc(100% - 250px);
        padding-right: 15px;
        @media only screen and (max-width: 1023px) {
          width: calc(100% - 180px);
        }
      }
      &:nth-child(3) {
        width: 120px;
        text-align: right;
        @media only screen and (max-width: 1023px) {
          width: 90px;
        }
      }
      &:nth-child(4) {
        width: 100px;
        text-align: right;
        color: #000;
        @media only screen and (max-width: 1023px) {
          width: 70px;
        }
      }
    }
  }
  .total {
    padding: 30px 0;
    text-align: right;
    color: #000;
    border-bottom: 1px solid $border;
    margin-bottom: 20px;
    .price {
      margin-left: 10px;
    }
  }
  .simple-btn {
    width: 270px;
    float: right;
    @media only screen and (max-width: 767px) {
      width: 100%;
    }
  }
}

.product-registration-info {
  .paragraph {
    font-size: 18px;
    margin-bottom: 40px;
    font-weight: 400;
    @media only screen and (max-width: 1024px) {
      margin-bottom: 20px;
    }
  }
  .inner {
    padding: 50px 45px;
    background: #FFF;
    @media only screen and (max-width: 1023px) {
      padding: 15px;
    }
  }
  .title {
    font-size: 18px;
    color: #000;
    font-weight: 700;
    margin-bottom: 30px;
  }
  .wrap-checkbox {
    margin: 30px 0 50px;
  }
  .wrap-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
    .simple-btn,
    .fs-dropdown {
      width: calc(50% - 10px);
      @media only screen and (max-width: 767px) {
        width: 100%;
        margin-bottom: 15px;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
  .allert {
    color: $red;
    line-height: 1.2;
    padding: 20px;
    background: #fef8e4;
    margin-bottom: 50px;
    @media only screen and (max-width: 1023px) {
      margin-bottom: 30px;
    }
  }
  .wrap-table {
    padding: 25px 0;
    border-top: 1px solid $border;
    border-bottom: 1px solid $border;
    margin: 25px 0 25px;
    table {
      width: 100%;
      font-size: 18px;
      color: #000;
      @media only screen and (max-width: 767px) {
        font-size: 16px;
      }
      td {
        width: 50%;
        padding-bottom: 20px;
        &:nth-child(2) {
          text-align: right;
        }
        span {
          font-weight: 700;
          margin-right: 5px;
        }
      }
    }
    .total {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: 25px;
      border-top: 1px solid $yellow;
      .text {
        font-size: 18px;
        font-weight: 700;
        color: #000;
      }
      .price {
        font-size: 24px;
        span {
          margin-left: 5px;
          font-size: 14px;
        }
      }
    }
  }
}

.product-registration-hidden {
  display: none;
  margin-bottom: 50px;
  .title {
    color: #000;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 20px;
  }
}

.product-registration-edit {
  margin-bottom: 50px;
  .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 40px;
    color: #000;
    font-size: 16px;
    font-weight: 700;
    span {
      width: 50%;
    }
  }
  .edit-btn {
    color: $purple;
    font-weight: 400;
    cursor: pointer;
    user-select: none;
    padding-left: 20px;
    border-left: 1px solid $purple;
  }
  .line {
    font-size: 16px;
    color: #000;
    margin-bottom: 15px;
    a {
      color: $purple;
    }
  }
  textarea {
    margin-top: 40px;
  }
}

.change-password-hidden {
  display: none;
}

.newsletter-sub {
  @include form-elements;
  .confirmation {
    @include card;
    padding: 20px;
    margin-bottom: 50px;
    .submit {
      width: 100%;
    }
  }
}

.technical-conclusion-form {
  h3 {
    color: $blue;
    font-size: 24px;
    font-weight: 700;
    margin: 40px 0 20px 250px;
    @media only screen and (max-width: 1023px) {
      margin: 40px 0 20px;
    }
  }
  .input,
  textarea,
  .label_textarea {
    margin-bottom: 0;
  }
  .item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    max-width: 875px;
    margin-bottom: 20px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  .left {
    width: 250px;
    font-size: 16px;
    text-align: right;
    color: #000;
    padding-right: 20px;
    @media only screen and (max-width: 767px) {
      width: 100%;
      text-align: left;
      margin-bottom: 15px;
    }
  }
  .right {
    width: calc(100% - 250px);
    @media only screen and (max-width: 767px) {
      width: 100%;
    }
  }
  .item--col {
    .col {
      &:nth-child(1),
      &:nth-child(2) {
        margin-bottom: 20px;
      }
    }
  }
  .item--align-start {
    align-items: flex-start;
  }
  .text {
    width: 100%;
    font-size: 16px;
    line-height: 1.2;
    color: #000;
    margin-bottom: 20px;
  }
  .bottom {
    margin-top: 100px;
  }
  .btn {
    text-transform: uppercase;
  }
}

.parts-in-stock-item {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
  @media only screen and (max-width: 767px) {
    padding-bottom: 20px;
    border-bottom: 1px solid $border;
    &:last-child {
      border: none;
    }
  }
  .text {
    font-weight: 700;
  }
  .stock {
    display: flex;
    justify-content: space-between;
    width: 200px;
    padding-left: 20px;
    @media only screen and (max-width: 767px) {
      width: 150px;
      padding-left: 0;
    }
  }
  .wrap-radio {
    margin-bottom: 0;
  }
}

.wrap-stock-input {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: calc(100% - 200px);
  @media only screen and (max-width: 767px) {
    width: 100%;
  }
}

.wrap-stock-item {
  width: calc(50% - 5px);
  @media only screen and (max-width: 767px) {
    width: 100%;
    margin-bottom: 20px;
  }
}


.technical-conclusion-2 {
  .title {
    margin-left: 45px;
    font-size: 16px;
    font-weight: 700;
    color: #000;
    margin-bottom: 40px;
    @media only screen and (max-width: 599px) {
      margin-left: 0;
      text-align: center;
    }
  }
  .btn {
    display: block;
    width: 100%;
    max-width: 480px;
    margin: 0 auto 45px;
  }
  .block {
    max-width: 570px;
    margin: 0 auto;
  }
}
